/* Estilo globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #2b3c73;
}

.subtitle-color {
  color: #2b3c73;
}

/* Estilos personalizados */

/* Navbar */

.navbar-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inputs */

.icono-placeholder,
.icono-placeholder-image,
.icono-placeholder-image2,
.placeholder-person {
  padding: 0.25em 0.6em;
  border-radius: 0.3rem;
  border: 1px, solid, #d3d6e4;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  width: 30%;
  margin: 0 10px;
}

.icono-placeholder-image::placeholder {
  background-image: url(../assets/img\ airplane\ destiny.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.icono-placeholder-image2::placeholder {
  background-image: url(../assets/img\ airplane.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.center-input-content {
  text-align: center;
}

/* Iconos Section */

.icon-check-color {
  color: #94193e;
}

/* Botones */

.btn-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.btn-maincolor {
  background-color: #2b3c73;
  width: 30%;
  margin: 0 10px;
}

/* Footer */

.imagenFooter {
  width: 5%;
}

.iconos:hover {
  opacity: 0.65;
}

/* Media Query */

@media (max-width: 991px) {
  .icono-placeholder-image2,
  .icono-placeholder-image,
  .custom-btn {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (max-width: 991px) {
  .icono-placeholder-image::placeholder,
  .icono-placeholder-image2::placeholder {
    background-position: 0.2rem center;
  }
}
