/* Estilo globales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #2b3c73;
}

.subtitle-color {
  color: #2b3c73;
}

.justified-text {
  text-align: justify;
}

.tooltip-blue .tooltip-inner {
  background-color: #2b3c73;
}

/* Estilos personalizados */

/* Navbar */

.navbar-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Inputs */

.icono-placeholder,
.icono-placeholder-image,
.icono-placeholder-image2,
.placeholder-person {
  padding: 0.25em 0.6em;
  border-radius: 0.3rem;
  border: 1px, solid, #d3d6e4;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  width: 30%;
}

.placeholder-person-2 {
  padding: 0.25em 0.6em;
  border-radius: 0.3rem;
  border: 1px, solid, #d3d6e4;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  width: 92%;
}

.form-style-inputs {
  padding: 0.25em 0.6em;
  border-radius: 0.3rem;
  border: 1px, solid, #d3d6e4;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
  width: 30%;
}

.icono-placeholder-image::placeholder {
  background-image: url(../assets/img\ airplane\ destiny.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.icono-placeholder-image2::placeholder {
  background-image: url(../assets/img\ airplane.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 1rem center;
}

.select-style {
  padding-right: 20px;
  border-radius: 0.3rem;
  border: 1px, solid, #d3d6e4;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
}

.center-input-content {
  text-align: center;
}

.validate-error {
  border: 1px solid red;
}

/* Iconos Section */

.icon-check-color {
  color: #94193e;
}

/* Imagenes */

.image-container {
  max-height: 100%;
}

.custom-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Botones */

.btn-shadow {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.btn-maincolor {
  /*   background-color: #2b3c73;
  width: 30%;
  margin: 0 10px; */
  background-color: #2b3c73;
  width: 30%;
  margin: 0 10px;
}
@media (max-width: 768px) {
  .btn-maincolor {
    width: 100%;
    margin: 10px 0;
  }
}

.btn-whatsapp {
  background-color: #25d365f8;
  width: 30%;
  margin: 0 10px;
}

.btn-secondcolor {
  background-color: #a70237;
  width: 30%;
  margin: 0 10px;
}

.daterangepicker .drp-buttons .applyBtn {
  background-color: #2b3c73;
}

/* Footer */

.imagenFooter {
  width: 5%;
}

.iconos:hover {
  opacity: 0.65;
}

/* Media Query */

@media (max-width: 991px) {
  .icono-placeholder-image2,
  .icono-placeholder-image,
  .custom-btn {
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  .icono-placeholder-image2,
  .icono-placeholder-image,
  .custom-btn {
    margin: 0 10px;
  }
}

@media (max-width: 991px) {
  .icono-placeholder-image::placeholder,
  .icono-placeholder-image2::placeholder {
    background-position: 0.2rem center;
  }
}

.select-style {
  width: 92%;
}

@media (max-width: 991px) {
  .select-style {
    width: 92%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*   .form-select-sm option:first-child {
    display: none;
  }
  .form-select-sm option:first-child::before {
    content: "Aerolínea";
  } */
}

@media (max-width: 767px) {
  .hide-img {
    display: none;
  }
}

@media (max-width: 767px) {
  .imagenFooter {
    justify-content: center;
  }
}
